@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: pointer;
}

:root {
  --dark-pink-color: #b05a72;
  --cherry-pink-color: #c04b5c;
  --light-pink-color: #eebbbf;
  --off-black-color: #0f0f0f;
  --off-cream-color: #f6f1eb;
  --background-black: #050505;
}

html {
  font-family: "Cormorant Garamond", serif;
}

img {
  max-width: 100%;
}
/* Navigation */

.header {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
  position: fixed;
  align-items: center;
  justify-content: center;
}

/* Main Section */

.section-main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-black);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.container {
  width: 80%;
  height: 100%;
  background-image:
    linear-gradient(to right, var(--background-black) 35%, transparent 100%),
    url("images/secretlife.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-title {
  color: #f6f1eb;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 5%;
}

.main-text {
  position: absolute;
  color: #f6f1eb;
  font-size: 1rem;
  top: 70%;
  right: 5%;
}

/* Books Section */

.books {
  width: 100vw;
  height: 100%;
  background-color: var(--background-black);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 200px 0 40px 0;
}

.left-column,
.right-column {
  width: 30%;
}

.book-img {
  width: 100%;
}

/* Footer */

.footer {
  width: 100%;
  height: 10vh;
  background: var(--background-black);
  display: flex;
  align-items: center;
  border-top: 1px solid var(--dark-pink-color);
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: var(--off-cream-color);
}

.social i {
  font-size: 1.5rem;
  color: var(--dark-pink-color);
  padding: 0 0.2rem;
  transition: all 0.4s ease-in;
}

.social-icon:hover {
  background: var(--off-black-color);
  color: var(--light-pink-color);
}

@media screen and (max-width: 425px) {
  .books {
    flex-direction: column;
    padding-top: 40px;
  }
  .left-column {
    margin-bottom: 40px;
  }
  .left-column,
  .right-column {
    width: 60%;
  }
}
