@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --dark-pink-color: #b05a72;
  --cherry-pink-color: #c04b5c;
  --light-pink-color: #eebbbf;
  --off-black-color: #0f0f0f;
  --off-cream-color: #f6f1eb;
  --background-black: #050505;
}

html {
  font-family: "Cormorant Garamond", serif;
}

img {
  max-width: 100%;
}
/* Navigation */

.nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.visible {
  width: 100%;
  background-color: var(--background-black);
  display: flex;
  justify-content: center;
  margin: 10px 0;
  z-index: 10;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  color: var(--off-cream-color);
  font-size: 1.5rem;
  transition: all 0.4s ease-in;
}

.list-item:hover,
.list-item:focus {
  color: var(--cherry-pink-color);
}

.list-item:visited {
  color: var(--light-pink-color);
}

.hamburger {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 5%;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 40px;
  height: 4px;
  background-color: #f6f1eb;
}

/* Main Section */

.section-main {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-black);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.container {
  width: 80%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      var(--background-black) 35%,
      transparent 100%
    ),
    url("images/secretlife.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main-title {
  color: #f6f1eb;
  font-size: 8vw;
  position: absolute;
  top: 50%;
  left: 5%;
}

.main-text {
  position: absolute;
  color: #f6f1eb;
  font-size: 1rem;
  top: 70%;
  right: 5%;
}

/* Out Now Section */

.out-now-section {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-black);
  padding-bottom: 40px;
}

.buy {
  font-size: 1.8rem;
  color: var(--dark-pink-color);
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.4s ease-in;
}

.buy:hover {
  color: var(--light-pink-color);
  font-size: 2rem;
}

.fa-book-open {
  font-size: 3rem;

  transition: all 0.4s ease-in;
}
.fa-book-open:hover {
  transform: rotate(30deg);
}

.out-now-container {
  width: 80%;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--off-cream-color);
}
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  margin: 30px;
}
.book {
  /* Leave it here if goes wrong*/

  width: 200px;
  height: 300px;
  transform: rotateY(-30deg);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 3px;
  height: 294px;
  width: 48px;
  background-color: grey;
  transform: translateX(172px) rotateY(90deg);
  background: linear-gradient(
    90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40% #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
  );
}

.book::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #01060f;
  box-shadow: -10px 0 50px 10px #aaaaaa;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateZ(-25px);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 5px 5px 20px #aaaaaa;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.right {
  max-width: 400px;
  margin: 20px 0;
  padding: 10px;
  border: 3px solid var(--dark-pink-color);
  color: var(--off-black-color);
  transition: all 0.4s ease-in;
}

.right:hover {
  background-color: var(--off-black-color);
  color: var(--off-cream-color);
}

.right a {
  color: var(--off-black-color);
  transition: all 0.4s ease-in;
}

.right a:hover {
  color: var(--dark-pink-color);
}
.out-now-title {
  font-size: 2rem;
}

.out-now-text {
  font-size: 1rem;
}

.awesome-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.awesome-link a {
  color: var(--off-cream-color);
  font-size: 1.1rem;
}

.awesome-link a:hover {
  color: var(--dark-pink-color);
}

/* Footer */

.footer {
  width: 100%;
  height: 10vh;
  background: var(--background-black);
  display: flex;
  align-items: center;
  border-top: 1px solid var(--dark-pink-color);
}

.footer-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: var(--off-cream-color);
}

.social i {
  font-size: 1.5rem;
  color: var(--dark-pink-color);
  padding: 0 0.2rem;
  transition: all 0.4s ease-in;
}

.social-icon:hover {
  background: var(--off-black-color);
  color: var(--light-pink-color);
}

/* Product Page */

.product-main {
  width: 100%;
  height: auto;
  background-color: var(--background-black);
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 80px;
  position: relative;
}

.page-title {
  font-size: 10vmin;
  color: var(--off-cream-color);
  margin: 20px;
}
.product-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px 20px 20px 20px;
}

.pre-order-box {
  margin: 1em;
  padding: 1em;
}

.pre-order-text {
  color: var(--off-cream-color);
  padding-bottom: 1em;
  font-size: 1.4rem;
}

.blinking {
  animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText {
  0% {
    color: var(--off-cream-color);
  }
  49% {
    color: var(--off-cream-color);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: var(--off-cream-color);
  }
}
.buy-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 20px 0 20px;
}

.buy-text {
  color: var(--off-cream-color);
  cursor: pointer;
  margin: 0 0 20px 0;
  transition: all 0.4s ease-in;
  font-size: 1.3rem;
}

.buy-text:hover {
  color: var(--dark-pink-color);
  text-decoration: underline;
}

.fa-shopping-cart {
  color: var(--dark-pink-color);
  font-size: 3rem;
  margin-bottom: 40px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0 10px 0 0;
}

.buy-icon {
  font-size: 2rem;
  padding-right: 10px;
  cursor: pointer;
  color: var(--off-cream-color);
  transition: all 0.4s ease-in;
}

.buy-icon:hover {
  color: var(--dark-pink-color);
}

.product-container {
  border: 1px solid var(--dark-pink-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  background-color: var(--background-black);
}

.book-box {
  max-width: 400px;
  background: var(--light-pink-color);
  margin-top: 20px;
}

.book-title {
  font-size: 2rem;
  padding: 10px;
}

.book-text {
  font-size: 1.2rem;
  padding: 10px;
}

@media (min-width: 600px) {
  .product-box {
    flex-direction: row;
  }
  .out-now-container {
    flex-direction: row;
  }
  .out-now-title {
    font-size: 2.6rem;
  }
  .out-now-text {
    font-size: 1.2rem;
  }
}

/* Contact Page */

.contact-main {
  width: 100%;
  height: 85vh;
  background: var(--background-black);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  max-width: 420px;
  align-items: center;
  margin: 0 auto;
}

.contact-title {
  color: var(--off-cream-color);
  font-size: 10vmin;
  padding-right: 60px;
  text-align: right;
}

.contact-box {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.contact-icon {
  color: var(--dark-pink-color);
  font-size: 4rem;
  padding: 1rem;
  transition: all 0.4s ease-in;
}

.contact-icon:hover {
  color: var(--light-pink-color);
}

.purchase {
  padding-top: 20px;
  display: flex;
}

.purchase-text {
  font-size: 1.5rem;
  padding: 20px 0;
  color: var(--light-pink-color);

  transition: all 0.4s ease-in;
}
.purchase-text:hover {
  color: var(--cherry-pink-color);
}

.contact-cart i {
  color: var(--dark-pink-color);
  font-size: 3rem;
  transition: all 0.4s ease-in;
}

.contact-cart i:hover {
  color: var(--light-pink-color);
}

.download-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.download-container input {
  color: #01060f;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #b05a72;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.download-container input:hover {
  background-color: #c04b5c;
  border: 3px solid #f6f1eb;
  color: white;
}

/* About Page */

.about-main {
  width: 100%;
  height: 85vh;
  background: var(--background-black);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.about-text {
  color: var(--dark-pink-color);
  font-size: 3rem;
  text-align: center;
  padding-top: 150px;
}

.about-text:hover,
.about-text:focus {
  color: var(--light-pink-color);
}
